body {
    font-family: 'Black Ops One', cursive;
  
}


#splash-screen {
    width: 1500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/sky_background_green_hills.png");
    background-size: cover;
    background-position: center;
}
#splash-screen p {
    text-transform: uppercase;
}

.buttons-general {
    font-family: 'Black Ops One', cursive;
    width: 200px;
    height: 50x;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 25px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;

}
.buttons-general:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.buttons-general:active {
	position:relative;
	top:1px;    
}
.game-logo {
    width: 400px;
}
.controls-image {
    width: 200px;
}
#gameover-screen{
	width: 1500px;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("./images/gameoverBackground.png");
	background-size: cover;
	background-position: bottom;
}
.gameover-ctr {
	width: 1500px;
	height: 700px;
	font-size: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}
.fighter {
	width: 150px;
	margin-bottom: 20px;
}
.message {
	color: #d02718;
	text-transform: uppercase;
	font-size: 1.2em;

}
.scores {
	margin-bottom: 75px;
}

#restart-button {
	margin-bottom: 100px;
}
/* #canvas {
	width: 100vw;
} */